@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,300&display=swap');

*{
  --beige: #d8bcab;
  --orange: #d97b41;
  --grey: #877a72;
  --page: rgb(25, 22, 22);
  --widgets: rgba(136, 135, 135, 0.177);
  --inputs: rgb(100, 100, 100);
  --borders: white;
  --text: white;
  --accent:  #87CEFA;
}

html,
body,
#root,
.App {
  font-family: "Rubik", serif;
  height: auto;
  width: 100vw;
  margin: 0;
}
.App > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark{
  background-color: var(--page);
  color: var(--text)
}

.light{
  background-color: white;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 90vw;
}

h1{
  color: var(--accent)
}

.navbar > .left-nav{
  display: flex;
  align-items: center;
  gap: 5vw;
}

.navbar > .left-nav > input{
  background-color: var(--inputs);
  color: rgb(255, 255, 255);
  width: 30vw;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}

.navbar > .left-nav > input::placeholder {
  color: var(--text);
}

.navbar > .right-nav{
  display: flex;
  align-items: center;
  gap: 3vw;
}


/*Login and Register Page*/

.login-register-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-register-page > form{
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: 1fr 1fr;
  gap:2vh;
}

.login-register-page > form > .span2{
  grid-column: 1/3;
}

.login-register-page > form > input{
  border-radius: 10px;
}

/*New Post Styles */

.new-user-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--widgets);
  width: 42vw;
  border-radius: 15px;
}

.new-user-post > .write{
  display: flex;
  gap: 2vw;
  justify-content: space-around;
  margin: 2vh;
}

.new-user-post > .write > input {
  background-color: var(--inputs);
  color: rgb(255, 255, 255);
  width: 30vw;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}
.new-user-post > .write > input::placeholder {
    color: var(--text);
  ;
}
.new-user-post > .write > img{
  width:4vw ;
  height: 4vw;
  border-radius: 50px;
}

.new-user-post > .drop-box {
  border: 1px solid var(--borders);
  width: 38vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-user-post > .drop-box  > section{
  border: 1px dashed var(--borders);;
  margin: 2vw;
  width: 36vw;
}

.new-user-post > .buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 42vw;
  margin: 2vh;
}
.new-user-post > .buttons > button{
  background-color: var(--accent);
  padding: 10px;
  border-radius: 20px;
  border-style: solid;
}

.new-user-post > .buttons > button:disabled{
  background-color: white;
}

.new-user-post > .buttons > button:active{
  background-color: #6395b4;
  color: rgba(244, 244, 244, 0.73);
}

/*Style Post box*/

.post-box{
  background-color: var(--widgets);
  width: 42vw;
}

.post-box > .space-between {
  padding-right: 10px;
}
.post-box > .space-between > .poster-info > img{
  height: 5vh;
  width: 5vh;
  border-radius: 5vw;
}

.post-box > .space-between > .poster-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1vw;
  gap: 10px;
}

.post-box > .post-text {
  font-size: 1.2rem;
  margin: 1vw;
}
.interact-post{
  display: flex;
  gap:2vh;
  margin:2vh;
  margin-top: 1vh;
}

.interact-post > div{
  display: flex;
  align-items: center ;
  gap: 1vh;
  margin-bottom: 1vh;
}

/*Profile widget*/

.profile-widget{
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: var(--widgets);
  border-radius: 15px;
  padding: 3vh;
}

.profile-widget > hr{
  width: 30vw;
}

.profile-widget > .user-info{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.profile-widget > .user-info > .user{
  display: flex;
  gap:10px;
}

.profile-widget > .user-info > .user > img{
  height: 5vh;
  width: 5vh;
  border-radius: 5vw;
}

/*Global CSS*/

.icon-text{
  display: flex;
  align-items: center;
  gap: 8px;
}

.space-between{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
}

input:focus {
  outline-color: var(--accent)
}

/*Friend Container*/

.friend-container{
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: var(--widgets);
  border-radius: 15px;
  padding: 3vh;
}

.friend-container > div > .space-between {
  padding-right: 10px;
}
.friend-container > div > .space-between > .friend-info > img{
  height: 5vh;
  width: 5vh;
  border-radius: 5vw;
}

.friend-container > div  .space-between > .friend-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1vw;
  gap: 10px;
}